html {
  font-size: 16px;

  @include tablets {
    font-size: 14px;
  }
  @include phones {
    font-size: 13px;
  }

}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  position: relative;
  color: $black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-size: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  min-height: 650px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include tablets {
    width: 95%;
  }
}

.container_100hper {
  height: 100%;
}

.section {
  overflow: hidden;
  position: relative;
  height: 100vh;
  min-height: 650px;
  
}