.btn {
  border-radius: rem(5px);
  padding: rem(10px) rem(15px);
  background: $red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'ubuntulight';
  font-weight: 300;
  font-size: rem(13px);

  &:hover {
    background-color: #c1401e;
  }
}

.btn-section {
  display: flex;
  margin-top: rem(95px);
  align-items: center;
}

.btn__pic {
  width: rem(29px);
  height: rem(14px);
}

.btn__bg_black {
  background: #2f3234;

  &:hover {
    background-color: #1f2122;
  }
}

.humburger {
  position: fixed;
  top: 30px;
  right: 34px;
  z-index: 100;
  cursor: pointer;
  width: 24px;
  
  
  &__item {
    width: 20px;
    height: 4px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #fff;
    display: none;

    @include tablets {
      display: flex;
      margin-left: rem(15px);
    }
  }
}

.btn_margin {
  margin-right: 20px;
}

.btn-nextscroll {
  width: 29px;
  height: 14px;
}