.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(12px); }

.header__buttons {
  display: flex;
  align-items: center; }

.hero__container {
  display: flex; }

.logo__icon {
  margin-top: rem(13px);
  width: 92px;
  height: 69px; }
