.hero {
  background: url(../bg/video-bg.png) center center / cover no-repeat;
  padding: 0 15px 0 40px;
}

.hero__title {
  color: #f9b43b;
  font-size: rem(63px);
  margin-bottom: rem(20px);
  font-family: 'gagalinregular';
  font-weight: 400;
}


.hero__desc {
  color: #fff;
  font-family: 'lifehackmedium';
  font-weight: 400;
  font-size: rem(54px);
  line-height: rem(50px);
  
   @include phones {
    font-size: rem(45px);
  }
}

.hero__content {
  display: flex;
  padding-left: rem(80px);
  flex-direction: column;
  padding-top: rem(15px);
  justify-content: center;
  
  @include tablets {
    width: 100%;;
    padding: 0;
  }
}

.hero__container {
  
  justify-content: center;
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 12%;
    text-align: center;
  }

  @include phones {
    
    padding: 0 5%;
    
  }
}