.title {
  color:$yelow;
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;

}

.title__color-black {
  color: #000;
  font-family: 'gagalinregular';
  font-weight: 400;
  font-size: 72px;
  margin-bottom: 55px;
  
}